<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>render data</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <h1 class="title">Get all data page</h1>
    <div>
        <h2>Data</h2>
        {{ range. }}
        <ul>
            <li>Id: {{ .ID }} </li>
            <li>Name: {{ .Name }} </li>
            <li>Desc: {{ .Description }} </li>
        </ul>
        {{ end }}
    </div>
    <p>Back to <a href="/add-new-data">form</a></p>
</body>
</html>